body {
  background-image: url(https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2);
  background-size: 100%;
  color: #666;
  font: 90%/180% Arial, Helvetica, sans-serif;
  max-width: 96%;
  margin: 0 auto;
}

#title {
  text-align: center;
  margin-top: 20%;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

#form {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#city {
  margin-bottom: -20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

input {
  outline: none;
}

#search {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-size: 100%;
  color: #4c4c4c;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

#search {
  background: #e6e6e6 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  opacity: 0.8;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#search:focus {
  width: 130px;
  background-color: #fff;
  border-color: #3083FF;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}
