body {
  background-image: url(https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2);
  background-size: 100%;
  color: #4c4c4c;
}

#title {
  text-align: center;
  margin-top: 20%;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

#searchForm {
  text-align: center;
}

#city {
  margin-bottom: -15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

#results {
  width: 40%;
  max-height: 5rem;
  margin: 0 auto;
}

#results li {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  padding: 5px;
}

#btn {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  opacity: 0.4;
  border: solid 1px #ccc;
  width: auto;
  height: auto;
  font-size: 1rem;
}

input {
  outline: none;
}

#search {
  font-size: 100%;
  background: #e6e6e6 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  opacity: 0.8;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  margin-bottom: 10px; 
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#search:focus {
  width: 130px;
  background-color: #fff;
  border-color: #3083FF;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

